<header>
  <h1>Super Chat</h1>
</header>

{{!-- <section>
  <div id="change_username">
    <input id="username" type="text" />
    <button id="send_username" type="button">Change username</button>
  </div>
</section>

<section id="chatroom">
  <section id="feedback"></section>
</section>

<section id="input_zone">
  <input id="message" class="vertical-align" type="text" />
  <button id="send_message" class="vertical-align" type="button">Send</button>
</section> --}}

<div class="row justify-content-center">
  <div class="col-10" id="chatroom"></div>
</div>

<div class="row justify-content-center">
  <div class="col-10 mt-3">
    <input type="text" id="message" />
    <button id="send_message" type="button">Send</button>
  </div>    
</div>

{{!-- var message = $('#message');
var username = $('#username');
var send_message = $('#send_message');
var send_username = $('#send_username');
var chatroom = $('#chatroom'); --}}