body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  /* background-color: purple; */
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

:root {
  --main-purple: #B885FE;
  --math-red: #ec644b;
  --science-green: #23cba7;
  --english-blue: #6bb9f0;
  --history-yellow: #f7ca18;
  --foreign-orange: #e67e22
}

#topBar {
  background-color: white;
  width: 100%;
  height: 100%;
}

#topBarGrid {
  display: grid;
  grid-template-columns: 15% 40% 27% 9% 9%;
  border-bottom: 1px solid #D0D0D0;
}

#userIcon,
#appName,
#filterButton,
#postButton,
#homeButton,
#searchButton,
#alertsButton,
.subForumIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* vertically centering elements */
}

#userIcon {
  /* background-color: red; */
}

#userIconCircle {
  width: 45px;
  height: 45px;
  background-color: var(--main-purple);
  border-radius: 50%;
  margin: auto;
}

#backArrow {
  display: none;
  font-size: 1.5em;
}

#appName {
  /* background-color: green; */
}

#appName h1 {
  text-align: center;
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 2em;
}

#filterButton {
  /* background-color: blue; */
  grid-column-start: 4;
}

#postButton {
  /* background-color: yellow; */
}

#filterButton i,
#postButton i {
  font-size: 1.5em;
}

#resourceForumBar {
  background-color: white;
  width: 100%;
  height: 100%;
}

#rfBarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20%;
}

.rfBarForum {
  grid-template-columns: 1fr !important;
}
#resourcesButton {
  border-bottom: 3px solid var(--main-purple);
  color: var(--main-purple);
}

#forumButton {
}

#resourcesButton h1,
#forumButton h1,
#forumNameContainer h1 {
  text-align: center;
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 1.5em;
}

#bottomBar {
  /* background-color: orange; */
  width: 100%;
  height: 100%;
  border-top: 1px solid #C0C0C0;
  /* position: absolute;
  bottom: 0; */
}

#bottomBarGrid {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

#homeButton {
}

#searchButton {
}

#alertsButton {
}

#homeButton i {
  color: var(--main-purple)
}

#homeButton i,
#searchButton i,
#alertsButton i {
  font-size: 2em;
  transition: 0.3s;
}

#homeButton i:hover,
#searchButton i:hover,
#alertsButton i:hover {
  color: var(--main-purple)
}

#mainContent {
  overflow-y: scroll;
  background-color: #C0C0C0;
}

#feedContainer,
#forumContainer,
#individualFeedItem {
  width: 98%;
  height: 100%;
  margin: auto;
  margin-top: 0.5em;
  display: block;
}

.feedItem {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #D0D0D0;
  display: grid;
  grid-template-columns: 1fr 2fr 10%;
  grid-template-rows: 25% 30% 20% 15%;
  grid-column-gap: 5px;
}

.itemIcon {
  margin: auto;
  width: 85%;
  height: 85%;
  grid-row-end: span 3;
  background-position: center;
  background-size: cover;
}


.feedItem:last-child,
.subForum:last-child {
  margin-bottom: 0.5em;
}

.itemPostInfo {
  width: 85%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row-start: 4;
}

.itemTitle {
  grid-column-start: 2;
}

.itemDropArrow {
  grid-row-start: 1;
  grid-column-start: 3;
  margin: auto;
  color: var(--main-purple)
}

.itemType h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  letter-spacing: 1px;
}

.itemTitle h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1.1em;
  opacity: 0.7;
  letter-spacing: 1px;
}

.itemDate h4,
.itemUser h4 {
  font-family: 'Lato';
  font-weight: bolder;
  font-size: 0.7em;
  opacity: 0.5;
}

#forumContainer,
#individualFeedItem {
  display: none;
}

#forumGrid {
  display: grid;
  height: 100%;
  grid-auto-rows: 100px;
  grid-gap: 1px;
}

.subForum {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 0.2fr 1fr 4fr;
  grid-gap: 10px;
  border-bottom: 1px solid #D0D0D0;
}

.borderLeft {
  background-color: var(--main-purple);
  height: 100%;
}

.subForum:nth-child(2) .borderLeft,
.subForum:nth-child(2) .subForumIcon i {
  background-color: var(--math-red);
}

.subForum:nth-child(3) .borderLeft,
.subForum:nth-child(3) .subForumIcon i {
  background-color: var(--science-green)
}

.subForum:nth-child(4) .borderLeft,
.subForum:nth-child(4) .subForumIcon i {
  background-color: var(--english-blue)
}

.subForum:nth-child(5) .borderLeft,
.subForum:nth-child(5) .subForumIcon i {
  background-color: var(--history-yellow)
}

.subForum:nth-child(6) .borderLeft,
.subForum:nth-child(6) .subForumIcon i {
  background-color: var(--foreign-orange)
}

.subForum:nth-child(7) .borderLeft,
.subForum:nth-child(7) .subForumIcon i {
  background-color: var(--main-purple)
}


.subForumIcon {
  padding: 10px;
}

.subForumIcon i {
  font-size: 2em;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--main-purple);
  color: white;
}

.subForumInfo h1,
.subForumInfo h2 {
  font-family: 'Roboto';
  font-weight: lighter;
}

.subForumInfo h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.subForumInfo h2 {
  font-size: 1em;
  margin-top: 10px;
  opacity: 0.8;
}

.subForumGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.subPost {
  background-color: white;
}

#subPostTitleContainer h1{
  font-family: 'Roboto';
  font-size: 1.3em;
}
