body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#appContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  /* background-color: purple; */
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
:root {
  --main-purple: #B885FE;
  --math-red: #ec644b;
  --science-green: #23cba7;
  --english-blue: #6bb9f0;
  --history-yellow: #f7ca18;
  --foreign-orange: #e67e22
}

#topBar {
  background-color: white;
  width: 100%;
  height: 100%;
}

#topBarGrid {
  display: grid;
  width: 93%;
  margin: auto;
  grid-template-columns: 15% 40% 27% 9% 9%;
}

#userIcon,
#appName,
#filterButton,
#postButton,
#homeButton,
#searchButton,
#alertsButton,
.subForumIcon,
.formItemImageContainer,
.itemMessage,
.postContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* vertically centering elements */
}

#userIcon {
  /* background-color: red; */
}

#userIconCircle {
  width: 45px;
  height: 45px;
  background-color: var(--main-purple);
  border-radius: 50%;
  margin: auto;
}

#backArrow {
  display: none;
  font-size: 1.5em;
}

#appName {
  /* background-color: green; */
}

#appName h1 {
  text-align: center;
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 1.7em;
  color: #707070;
}

#filterButton {
  /* background-color: blue; */
  grid-column-start: 4;
}

#postButton {
  /* background-color: yellow; */
  grid-column-start: 5;
}

#filterButton i,
#postButton i,
#backArrow {
  font-size: 1.5em;
  color: #808080;
}

#resourceForumBar {
  background-color: white;
  width: 100%;
  height: 100%;
}

#rfBarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20%;
}

.rfBarForum {
  grid-template-columns: 1fr !important;
}
#resourcesButton {
  border-bottom: 3px solid var(--main-purple);
  color: var(--main-purple);
}

#forumButton {
  color: #808080
}

#resourcesButton h1,
#forumButton h1,
#forumNameContainer h1 {
  text-align: center;
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 1.25em;
}

#bottomBar {
  /* background-color: orange; */
  width: 100%;
  height: 100%;
  border-top: 1px solid #C0C0C0;
  /* position: absolute;
  bottom: 0; */
}

#bottomBarGrid {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

#replyButtonContainer {
  display: none;
}
.replyButtonContainerShow {
  display: grid !important;
  height: 100%;
  width: 100%;
  grid-template-columns: 90% 10%;
}

.addCommentContainer {
  border: 1px solid #A0A0A0;
  height: 60%;
  width: 90%;
  margin: auto;
  border-radius: 3px;
}

.addCommentContainer h1 {
  margin-left: 5px;
  font-family: 'Lato';
  font-size: 0.9em;
  font-weight: bolder;
  color: #909090;
  letter-spacing: 1.2px;
}
.postContainer {
  height: 60%;
  margin: auto;
  color: #808080
}

#homeButton {
}

#searchButton {
}

#alertsButton {
}

#homeButton i {
  color: var(--main-purple)
}

#homeButton i,
#searchButton i,
#alertsButton i {
  font-size: 1.45em;
  transition: 0.3s;
}

#homeButton i:hover,
#searchButton i:hover,
#alertsButton i:hover {
  color: var(--main-purple)
}

#mainContent {
  overflow-y: scroll;
  background-color: #D0D0D0;
}

#feedContainer,
#forumContainer,
#individualFeedItem,
.formContainer {
  height: 100%;
  margin: auto;
  margin-top: 0.5em;
  display: block;
}

.feedItem {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #D0D0D0;
  display: grid;
  grid-template-columns: 1fr 2fr 9%;
  grid-template-rows: 1fr 1fr 2fr;
  /* margin-top: 10px; */
}

.itemIcon {
  margin: auto;
  width: 100%;
  height: 85%;
  grid-column-start: 1;
  grid-row-end: span 2;
  background-position: center;
  background-size: cover;
}


.feedItem:last-child,
.subForum:last-child,
.subPost:last-child {
  margin-bottom: 0.5em;
}

.itemPostInfo {
  width: 87%;
  height: 100%;
  margin: auto;
  /* display: grid; */
  /* grid-template-columns: 1fr 3fr; */
  /* grid-row-gap: 32px; */
  grid-row-start: 1;
  grid-column-end: span 2;
}

.itemType h2 {
  margin: 0;
}

.itemTitle {
  grid-column-start: 2;
}

.itemMessage {
  grid-row-start: 1;
  grid-column-start: 3;
  margin: auto;
  color: var(--main-purple);
  font-size: 11px;
}

.itemType h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  letter-spacing: 1px;
  color: #505050;
}

.itemTitle h2 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1.1em;
  color: #808080;
  letter-spacing: 1px;
  margin: 0;
}

.itemDate h4,
.itemUser h4 {
  font-family: 'Lato';
  font-weight: bolder;
  font-size: 0.7em;
  opacity: 0.5;
}

#forumContainer,
#individualFeedItem {
  display: none;
}

.feedDescription {
  /* background-color: red; */
  /* display: none; */
  grid-column-start: 1;
  grid-column-end: span 3;
  /* text-align: center; */
  margin: auto;
  width: 90%;
  position: relative;
  overflow: hidden;
  bottom: 0;
  left: 0;
  max-height: 100%;
}

.feedDescription h4 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 0.8em;
}

.shortDesc {
  background-image: linear-gradient(180deg,#303030 40%,rgba(0,0,0,0));
  -webkit-background-clip: text;
  display: none;
  -webkit-text-fill-color: transparent;
}

.shortReplies {
  display: none;
}

.longReplies {
  display: grid;
  grid-gap: 10px;
}

.longDesc {
  margin-bottom: 20px;
}

#individualFeedItem {
}


.repliesText {
  background-color: #D0D0D0;
  padding: 10px;
  font-family: 'Lato';
  font-weight: bolder;
  color: #808080;
  border-bottom: 1px solid #D0D0D0;
  letter-spacing: 1.4px;
}

.feedItemRepliesContainer {
  /* background-color: white; */
}

.feedItemReplies {
  /* width: 95%; */
  margin: auto;
  background-color: white;
}

.feedItemReplies h5 {
  width: 95%;
  margin-left: 10px;
    font-family: 'Lato';
  color: #707070;
  font-size: 0.7em;
  letter-spacing: 1.3px;
}

.feedItemReplies h4 {
  font-family: 'Roboto';
  font-size: 0.8em;
  font-weight: 500;
  width: 95%;
  margin-left: 10px
}

#forumGrid {
  display: grid;
  height: 100%;
  grid-gap: 1px;
}

.subForum {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 0.2fr 1fr 4fr;
  grid-gap: 10px;
  border-bottom: 1px solid #D0D0D0;
}

.borderLeft {
  background-color: var(--main-purple);
  height: 100%;
}

.subForum:nth-child(2) .borderLeft,
.subForum:nth-child(2) .subForumIcon i {
  background-color: var(--math-red);
}

.subForum:nth-child(3) .borderLeft,
.subForum:nth-child(3) .subForumIcon i {
  background-color: var(--science-green)
}

.subForum:nth-child(4) .borderLeft,
.subForum:nth-child(4) .subForumIcon i {
  background-color: var(--english-blue)
}

.subForum:nth-child(5) .borderLeft,
.subForum:nth-child(5) .subForumIcon i {
  background-color: var(--history-yellow)
}

.subForum:nth-child(6) .borderLeft,
.subForum:nth-child(6) .subForumIcon i {
  background-color: var(--foreign-orange)
}

.subForum:nth-child(7) .borderLeft,
.subForum:nth-child(7) .subForumIcon i {
  background-color: var(--main-purple)
}


.subForumIcon {
}

.subForumIcon i {
  font-size: 1.5em;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--main-purple);
  color: white;
}

.subForumInfo h1,
.subForumInfo h2 {
  font-family: 'Roboto';
  font-weight: lighter;
}

.subForumInfo h1 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.subForumInfo h2 {
  font-size: 0.9em;
  margin-top: 10px;
  opacity: 0.8;
}

.subForumGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.subPost {
  background-color: white;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}



.subPostTopBar {
  width: 80%;
  margin: auto;
}

.subPostInfo {
  display: grid;
  grid-template-columns: 9fr 1fr;
  font-family: 'Lato';
  color: #707070;
  font-size: 0.7em;
  letter-spacing: 1.3px;
}

#subPostTitleContainer h1{
  font-family: 'Roboto';
  font-size: 1.05em;
  font-weight: normal;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.subPostBottomBar {
  width: 80%;
  margin: auto;
  color: #707070;
  font-family: 'Lato';
  font-size: 0.8em;
  letter-spacing: 1.3px;
}

#postFeedContainer {
  height: 100%;
  display: none;
  grid-template-rows: 0.5fr 5fr;
}

.topBar {
  background-color: white;
  width: 100%;
  height: 100%;
}

.topBarGrid {
  display: grid;
  grid-template-columns: 15% 40% 27% 9% 9%;
  border-bottom: 1px solid #D0D0D0;
}

.userIcon,
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* vertically centering elements */
}

.closeButton {
  grid-column-start: 5;
}

.closeButton i {
  font-size: 1.5em;
  color: #808080;
}

.userIcon {
  /* background-color: red; */
}

.userIconCircle {
  width: 45px;
  height: 45px;
  background-color: var(--main-purple);
  border-radius: 50%;
  margin: auto;
}

.backArrow {
  display: none;
  font-size: 1.5em;
}

.postFeedTitle {
}

.postFeedTitle h1 {
  font-family: 'Lato';
  font-weight: lighter;
  font-size: 2em;
  color: #707070;
}

.forumScroll {
  overflow-y: scroll;
}

.formContainer {
  width: 80%;

}

.formGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2em;
}

label {
  font-family: 'Roboto';
  font-weight: 200;
}

label h1 {
  font-size: 1em;
  letter-spacing: 2px;
  font-family: 'Lato';
  font-weight: bolder;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#radioGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#formRequest {
  background-color: var(--main-purple);
  height: 100%;
  border-radius: 3px;
}

#formProvide {
  background-color: var(--main-purple);
  height: 100%;
  border-radius: 3px;
}

.radioContainer {
  display: block;
  color: black;
  font-size: 1em;
}

/* Hide the browser's default radio button */

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: transparent;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input:checked ~ .checkmark {
}

.checkmark:after {
    content: '';
    padding: 10px;
    position: absolute;
    display: none;
}

.checkmark p {
    color: white;
    font-size: 20px;
}

#formTitleInput,
#formDescriptionInput,
#formForumInput {
  width: 100%;
  padding: 0px;
}

#formDescriptionInput {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  border-radius: 4px;
}

.formItemImage {
  height: 200px;
}

.formItemImageContainer {
  width: 100%;
  height: 100%;
  background-color: #C0C0C0;
  border-radius: 6px;
}

.formItemImage i {
  font-size: 4em;
  color: gray;
}

input[type="submit"] {
  border: none;
  background-color: var(--main-purple);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 70%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 1em;
  letter-spacing: 2px;
}

#postForumContainer {
  height: 100%;
  display: none;
  grid-template-rows: 0.5fr 5fr;
}
