body {
    margin: 0;
    padding: 0;
}

.inactive {
    display: none;
}

.grid-display {
    display: grid;
}

.block-display {
    display: block;
}

#mainGrid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 5fr 0.5fr;
    /* background-color: purple; */
    
  }
  
  :root {
    --main-purple: #B885FE;
  }
  
  #topBar {
    /* background-color: red; */
    width: 100%;
    /* height: 100%; */
  }
  
  #topBarGrid {
    display: grid;
    grid-template-columns: 15% 40% 1fr 18%;
  }
  
  #userIcon,
  #appName,
  #filterButton,
  #postButton,
  #homeButton,
  #searchButton,
  #alertsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertically centering elements */
  }
  
  #userIcon {
    /* background-color: red; */
  }
  
  #userIconCircle {
    width: 45px;
    height: 45px;
    background-color: var(--main-purple);
    border-radius: 50%;
    margin: auto;
  }
  
  #appName {
    /* background-color: green; */
  }
  
  #appName h1 {
    text-align: center;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 2em;
  }
  
  #newMsgButton {
    margin: auto;
    font-size: 1.7em;
  }
  
  #notificationMessageBar {
    /* background-color: yellow; */
    width: 100%;
    /* height: 100%; */
  }
  
  #nmBarGrid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }
  
  .tabButtonStyle {
    border-bottom: 3px solid var(--main-purple);
    color: var(--main-purple);
  }

  #notificationsButton {
    /* border-bottom: 3px solid var(--main-purple);
    color: var(--main-purple); */
  }
  #messagesButton {
    /* border-bottom: 3px solid var(--main-purple);
    color: var(--main-purple); */
  }
  
  #notificationsButton h1,
  #messagesButton h1 {
    text-align: center;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 1.2em;
  }
  
  #bottomBar {
    /* background-color: orange; */
    width: 100%;
    /* height: 100%; */
    border-top: 1px solid #A0A0A0;
    /* position: absolute;
    bottom: 0; */
  }
  
  #bottomBarGrid {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
  }
  
  #homeButton {
  }
  
  #searchButton {
  }
  
  #alertsButton {
      color: var(--main-purple);
  }
  
  #homeButton i {
  }
  
  #homeButton i,
  #searchButton i,
  #alertsButton i {
    font-size: 2em;
    transition: 0.3s;
  }
  
  #homeButton i:hover,
  #searchButton i:hover,
  #alertsButton i:hover {
    color: var(--main-purple)
  }
  
  #mainContent {
    /* height: 100%; */
    /* max-height: 100%; */
    overflow-y: scroll;
    background-color: #D0D0D0;
  }
  
/* Notification/Message styles */
#notificationContainer, #messagePreviewContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    /* margin-top: 1em; */
}

.notificationItem, .messagePreviewItem {
    background-color: white;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #A0A0A0;
    display: grid;
    grid-template-columns: 100px 1fr;
    font-family: 'Lato';
}

.notificationItem:last-child, .messagePreviewItem:last-child {
    border-bottom: none;
}

.user-icon {
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.user-icon img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: inline-block;
}

.tim-ago {
    font-size: 0.8em;
    color: #9DAAB5;
    position: relative;
    bottom: -2px;
}

.notifContent p, .msgContent p {
    width: 95%;
    line-height: 16px;
    height: 34px;
    position: relative;
    overflow: hidden;
    top: 18px;
}

/* Notification Only styles */
#notificationContainer {
    /* display: none; */
}

/* Message Only Styles */
#messagePreviewContainer {
    /* display: none; */
}

/* Conversation styles */
#convoContainer {
    position: absolute;
    top:0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    /* display: grid; */
    grid-template-rows: .75fr 5.5fr 0.5fr;
    margin: 0;
    padding: 0;
    /* display: none; */
}

#userBar {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

.backButton, .user-name {
    margin: auto;
}

.backButton {
    font-size: 2em;
}

.user-name {
    font-size: 1.5em;
    font-family: 'Lato';
}

#userBar {
    background-color: var(--main-purple);
}

#sendContainer {
    display: grid;
    grid-template-columns: 2fr 0.3fr;
}

#conversation {
    overflow-y: scroll;
    background-color: #F2F2F2;
}

#messageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.messageItem {
    display: grid;
    grid-template-rows: 1fr 1em;
    font-family: 'Lato';
    box-sizing: border-box;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.non-native-user p{
    padding: 10px;
    background-color: #F7E0FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.native-user p{
    padding: 10px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.non-native-user p, .non-native-user span {
    text-align: left;
    width: 85%;
}

.native-user p {
    text-align: left;
    width: 85%;
    position: relative;
    left: 10%;
}

.native-user span {
    text-align: right;
}


/* 
.messageItem p {
    background-color: #B885FE;
    border-radius: 5px;
}

.native-user p {
    background-color: white;
} */



#msgInput {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid var(--main-purple) !important;
    border-radius: 0px;
    padding-left: 1em; 
}

#msgInput:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

#msgInput:placeholder-shown {
    padding-left: 1em;
}

#sendButton {
    font-size: 1.7em;
    margin: auto;
}

#sendButton:hover {
    color: var(--main-purple);
}

.date-and-time {
    font-size: 0.8em;
    color: #9DAAB5;
}